language: python
python:
 - "2.6" 
 - "2.7"
 - "3.3"

install:
 - pip install -r requirements.txt
 - pip install coveralls

script:
 - coverage run --source=django_webp manage.py test

after_success:
 - coveralls